services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "0.0.0.0:80:8080"
      - "0.0.0.0:8080:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - ai-manager-tg-bot
      - rus-dialog-space
    networks:
      - app_network

  ai-manager-tg-bot:
    container_name: backend
    depends_on:
      postgres:
        condition: service_healthy
    build:
      context: ./ai-manager-tg-bot
    expose:
      - "3001"
    environment:
      - PYTHONUNBUFFERED=1
      - ALLOWED_ORIGINS=http://localhost,http://localhost:80,http://localhost:8080,http://46.173.25.54,http://46.173.25.54:80,http://46.173.25.54:8080
    networks:
      - app_network

  rus-dialog-space:
    container_name: frontend
    build:
      context: ./rus-dialog-space
    expose:
      - "8080"
    networks:
      - app_network

  minio:
    image: minio/minio
    container_name: cloud
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"
    environment:
      MINIO_ROOT_USER: tim2004timi
      MINIO_ROOT_PASSWORD: timitimitimiimi
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - app_network

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: XXxx112233445566
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5433:5432"
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "127.0.0.1:5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_SECURE_COOKIE=false
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - app_network
    restart: unless-stopped

volumes:
  minio_data:
  postgres_data:
  n8n_data:

networks:
  app_network:
    driver: bridge
